<h3><%= l(:label_activities_for_time) %></h3>

<select multiple="multiple" name="settings[activities][]">
  <% TimeEntryActivity.all.each do |activity| %>
      <option
        value="<%= activity.id %>"
        <%= if (Setting.plugin_time_details['activities'] || []).include? activity.id.to_s then 'selected="selected"' else '' end %>
      >
          <%= activity.name %>
      </option>
  <% end %>
</select>
